################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Si.Blog.WebApi/.vs
/Si.Blog.WebApi/Blog.Application/obj
/Si.Blog.WebApi/Blog.Application.Base/obj
/Si.Blog.WebApi/Blog.Application.Contracts/obj
/Si.Blog.WebApi/Blog.Application.Database/obj
/Si.Blog.WebApi/Blog.Application.Domain/obj
/Si.Blog.WebApi/Blog.Application.Filter/obj
/Si.Blog.WebApi/Blog.Application.Rbac/obj
/Si.Blog.WebApi/Blog.Application.Shared/obj
/Si.Blog.WebApi/Blog.Application.WebApi/obj
/Si.Blog.WebApi/Blog.Infrastructure.Base/obj
/Si.Blog.WebApi/Blog.infrastructure.Rbac/obj
/Si.Blog.WebApi/Blog.infrastructure.Security/obj
/Si.Blog.WebApi/Si.Api.Core/bin/Debug/logs
/Si.Blog.WebApi/Si.Api.Core/obj
/Si.Blog.WebApi/Si.Application.ApiComponent/obj
/Si.Blog.WebApi/Si.Application.Base/obj
/Si.Blog.WebApi/Si.Application.SqlSugar/obj
/Si.Blog.WebApi/Si.Application.ToolKit/obj
/Si.Blog.WebApi/Si.Framework.Base/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.Base/obj
/Si.Blog.WebApi/Si.Framework.Captcha/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.Captcha/obj
/Si.Blog.WebApi/Si.Framework.DDDComm/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.DDDComm/obj
/Si.Blog.WebApi/Si.Framework.EntityFramework/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.EntityFramework/obj
/Si.Blog.WebApi/Si.Framework.MailToolKit/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.MailToolKit/obj
/Si.Blog.WebApi/Si.Framework.MemoryCache/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.MemoryCache/obj
/Si.Blog.WebApi/Si.Framework.SqlSugar/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.SqlSugar/obj
/Si.Blog.WebApi/Si.Framework.ToolKit/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.ToolKit/obj/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.ToolKit/obj
/Si.Blog.WebApi/Blog.Infrastructure.Base/bin/Debug/net8.0
/Si.Blog.WebApi/Blog.infrastructure.Rbac/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Api.Core/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.AutoMapper/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.AutoMapper/obj
/Si.Blog.WebApi/Si.Framework.Serilog/bin/Debug/net8.0
/Si.Blog.WebApi/Si.Framework.Serilog/obj
